@font-face {
  font-family: 'Karma Future';
  src: url('assets/KarmaFuture.ttf');
}
@font-face {
    font-family: 'gameshow';
    src: url('assets/Gameshow.ttf');
}
body {
    margin: 0;
    font-family: 'gameshow', sans-serif;
}
p {
    position: absolute;
    font-family: 'gameshow', sans-serif;
    color: white;
    top: 49%;
    left: 71%;
    font-size: 45px;
    z-index: 1;
}
/*Secciones de juego*/
.root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-image: url("assets/madera.png");
}
#root {
    border-style:none;
    border-radius: 15px;
}
.root .usedCraps {  
    width: calc(53% - 10px);
    background-image: url("assets/galaxy-background.jpeg");
    background-size:cover;
}
#idUsedCraps {
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-color: #081D6D;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
}
.root .inactiveCraps {  
    width: calc(40% - 10px);
    background-image: url("assets/galaxy-background.jpeg");
    background-size: cover;
}
#idInactiveCraps {
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-color: #081D6D;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
}
.root .activeCraps {  
    width: calc(53% - 10px);
    background-image: none;
    background-size: cover;
}
#idActiveCraps {
    position: relative;
    margin: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 80%;
}
.root .crapsScore {  
    display: flex;
    width: calc(40% - 10px);
    background-image: url("assets/galaxy-background.jpeg");
    background-size: cover;
}
#idCrapsScore {
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-color: #081D6D;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
}
/*Tablero de ronda*/
.root .crapsScore .roundBoard {
    height: 30%;
    width: 30%;
}
#idRoundBoard {
    position: relative;
    background-color: #EEE5E3;
    border-radius: 15px;
    top: 69%;
    left: 69%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: 'Karma Future', sans-serif;
}
/*Taablero de puntaje*/
.root .crapsScore .roundScore {
    height: 30%;
    width: 30%;
}
#idRoundScore {
    position: relative;
    background-color: #EEE5E3;
    border-radius: 15px;
    top: 69%;
    right: 29%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: 'Karma Future', sans-serif;
}
/*Boton de ronda*/
.root .activeCraps .roundButton {
    height: 22%;
    width: 40%;
}
#idRoundButton {
    position: relative;
    top: 76%;
    left: 0%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-image: url("assets/inactiveCraps.jpg");
    background-size: cover;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #081D6D;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Karma Future', sans-serif;
}

.crap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    max-width: 140px;
    max-height: 140px;
    margin: 10;
}

.crapContainer{
    max-width: 156px;
    max-height: 169px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crap:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.crap {
    margin: 10px;
}

.container-section {
    display: flex;
    width: 100%;
    height: calc(100vh/2);
    display: flex;
    justify-content: space-around;
}